h1{
    /*COLOR NAMED SYSTEM*/
    color: olive ;

}    /* rgb color system */
p{
      color:rgba(0,255,0)
}
/* HEXCODE  color system */
h2{
    color: #ffff00;
    background-color: #000;
}
h3{
    color: #ffffff;
    background-color: #000;
}